@import "bootstrap";

 body {
   padding: 0;
   margin: 0;
   background-color: #f8fafb;
 }
.shipping-method-thumb {
  height: 100%;
  margin-bottom: 50px;
  font-family: "Open Sans";
  border: 1px solid #DDE3E8;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
  padding: 35px 41px 35px 73px;
  ul {
    list-style: none;
    padding: 0;
  }
  .shipping-method-thumb-title-active:before {
    width: 20px;
    height: 20px;
    content: '';
    background-color: #0b97c4;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -31px;
  }
  .shipping-method-thumb-title-active:after {
    width: 10px;
    height: 10px;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: -26px;
  }
  .shipping-method-thumb-title-active {
    color: #1B2125;
    position: relative;
  }
  .shipping-method-thumb-title:after {
    width: 20px;
    height: 20px;
    content: '';
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid lightgray;
    position: absolute;
    top: 3px;
    left: -31px;
  }
  .shipping-method-thumb-title {
    color: #1B2125;
    position: relative;
  }
  .shipping-method-thumb-content {
    color: #788995;
  }
}
label {
  color: #D4D9DD;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}
input {
  width: 100%;
  height: 54px;
  border: 1px solid #DDE3E8;
  border-radius: 3px;
  background-color: #FFFFFF;
}
.checkout-form {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 100px 90px;
  .nav-tabs {
    justify-content: space-between;
    border-bottom: 1px solid #eef1f4;
     .active {
      border: 0;
      border-bottom:  1px solid #707476;
       a {
         color: #1B2125;
       }
    }
    li {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      border: none;
      padding: 0 20px 31px 20px;
      a {
        color: #D4D9DD;
      }
    }
    a:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .step-title {
    color: #1B2125;
    font-size: 24px;
    font-family: "Open Sans";
    padding: 71px 0 38px 0;
  }
  .step-one {
    label {
      color: #D4D9DD;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      text-transform: uppercase;
    }
    input {
      width: 100%;
      height: 54px;
      border: 1px solid #DDE3E8;
      border-radius: 3px;
      background-color: #FFFFFF;
    }
  }
  .step-two {
    padding: 0;
    .user-data {
      border: 1px solid #DDE3E8;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      .user-data-list {
        padding: 40px 0 11px 31px;
        width: 50%;
        ul {
          padding: 0;
          list-style: none;
          color: #788995;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
    .shipping-method-thumb {
      margin-bottom: 50px;
      font-family: "Open Sans";
      border: 1px solid #DDE3E8;
      border-radius: 3px;
      font-size: 16px;
      line-height: 26px;
      padding: 35px 41px 35px 73px;
      ul {
        list-style: none;
        padding: 0;
      }
      .shipping-method-thumb-title-active:before {
        width: 20px;
        height: 20px;
        content: '';
        background-color: #0b97c4;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: -31px;
      }
      .shipping-method-thumb-title-active:after {
        width: 10px;
        height: 10px;
        content: '';
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -26px;
      }
      .shipping-method-thumb-title-active {
        color: #1B2125;
        position: relative;
      }
      .shipping-method-thumb-title:after {
        width: 20px;
        height: 20px;
        content: '';
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid lightgray;
        position: absolute;
        top: 3px;
        left: -31px;
      }
      .shipping-method-thumb-title {
        color: #1B2125;
        position: relative;
      }
      .shipping-method-thumb-content {
        color: #788995;
      }
    }
  }
  .step-three {
    .credit-card-aria {
      margin: 0;
      border: 1px solid #DDE3E8;
      border-radius: 3px;
      background-color: #FFFFFF;
      .shipping-method-thumb {
        margin-bottom: 0;
        padding-right: 0;
        border: none;
      }
      .bank-icons {
        padding-top: 36px;
      }
      #cardNumber {
        background: url("../images/card_icon.png") no-repeat;
        background-position-x: 98%;
        background-position-y: 50%;
      }
      #cardDate {
        padding-left: 30px;
        position: relative;
      }
      #cardCode {
        padding-left: 30px;
        position: relative;
      }
      .cvv-code-btn {
        position: absolute;
        width: 23px;
        padding-left: 6px;
        font-size: 14px;
        color: #788995;
        height: 23px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #788995;
        top: 43px;
        right: 26px;
      }
    }
    .pay-pal-aria {
      margin: 22px 0 50px 0;
      border: 1px solid #DDE3E8;
      border-radius: 3px;
      background-color: #FFFFFF;
      .shipping-method-thumb {
        margin-bottom: 0;
        padding-right: 0;
        border: none;
      }
      .pay-pal-icon {
        padding-top: 36px;
      }
    }
  }
}


.shopping-cart {
  padding: 0;
  .shopping-cart-content {
    margin: 0 !important;
    padding: 62px 50px 0 50px;
    width: 100%;
    height: auto;
    .row {
      margin: 0;
    }
    .shopping-cart-header {
      margin-bottom: 26px;
      padding-bottom: 25px;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eef1f4;
      .step-title {
        font-size: 24px;
      }
      .chousen-item-counter {
        margin: auto 0;
        height: 24px;
        width: 24px;
        padding: 1px 0 0 7px;
        color: #fff;
        border-radius: 100px;
        background-color: #0095F8;
        box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
      }
    }
    .shopping-item {
      margin-top: 20px;
      margin-bottom: 45px;
      .media-body {
        padding-left: 25px;
        color: #788995;
        font-family: "Avenir Next";
        font-size: 16px;
      }
    }
    .quantity-dropdown {
      cursor: pointer;
      border: 0;
      border-top: 1px solid #eef1f4;
      border-bottom: 1px solid #eef1f4;
      font-family: "Open Sans";
      padding: 13px 0 17px 0;
      font-size: 16px;
      background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: #2B2B2B;
      width: 100%;
      min-height: 46px;
      background-position-x: 100%;
      margin-bottom: 25px;
    }
    .subtotal {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eef1f4;
      .subtotal-name {
        color: #788995;
        font-family: "Open Sans";
        font-size: 14px;
      }
      .subtotal-value {
        text-align: right;
        font-weight: 600;
      }
    }
    .total-price {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      .price-name {
        color: #1B2125;
        font-family: "Open Sans";
        font-size: 16px;
      }
      .price-value {
        text-align: right;
        font-weight: 600;
      }
    }
  }
}



@media (min-width: 1200px) {
  .container {
    max-width: 1360px !important;
  }
}

@media (max-width: 1345px) {
  .nav-tabs li {
    padding: 0 0 31px 0 !important;
  }
}
@media (max-width: 1200px) {
  #cardDate {
    padding-left: 12px !important;
    font-size: 14px;
  }
  #cardCode {
    padding-left: 12px !important;
  }
}